{% extends 'base.html' %}
{% block title %}Sign Up{% endblock %}
{% block body %}
  <center>
    <div class="container">
      <form action="{% url 'signup' %}" method="post">
        {% csrf_token %}
        <input placeholder="Full name" class="user" name="name">
        <input placeholder="User name" class="password" name="username">
        <input placeholder="Email address" class="password" name="email">
        <input placeholder="Gender" class="password" name="gender">
        <input placeholder="Phone Number" class="password" name="phone">
        <select name="study" class="password" name="study">
          <option>Undergraduate</option>
          <option>Post Graduate</option>
          <option>Other</option>
        </select>
        <input placeholder="Next of kin" class="password" name="kin">
        <input placeholder="Next of kin phone number" class="password" name="kin_phone">
        <input placeholder="Faculty" class="password" name="faculty">
        <input placeholder="Department" class="password" name="department">
        <input placeholder="Level" class="password" name="level">
        <textarea class="password" placeholder="A little about yourself" name="description"></textarea>
        <input placeholder="password" class="password" name="password">
        <button class="submit">Submit</button>
      </form>
    </div>
  </center>
{% endblock %}
